{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        a {
            color: white;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Browse {{ genre }}</h1>

    <h2 class="mt-5 mb-4">Filter by Genre</h2>
    <ul class="genre-list ps-0 mt-2 mb-3">
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('browse', {'slug': 'pop'}) }}">Pop</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('browse', {'slug': 'rock'}) }}">Rock</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('browse', {'slug': 'heavy-metal'}) }}">Heavy Metal</a>
        </li>
    </ul>

    <div>
        <h2 class="mt-5">Mixes</h2>
        <turbo-frame id="mix-browse-list-{{ pager.currentPage }}" target="_top">
            <div class="row">
                {% for mix in pager %}
                    <div class="col col-md-4 mb-2">
                        <a href="{{ path('mix_show', {'slug': mix.slug}) }}">
                            <div class="mixed-vinyl-container p-3 text-center">
                                <img src="https://via.placeholder.com/300" data-src="https://via.placeholder.com/300" alt="Square placeholder img">
                                <p class="mt-2"><strong>{{ mix.title }}</strong></p>
                                <span>{{ mix.trackCount }} Tracks</span>
                                |
                                <span>{{ mix.genre }}</span>
                                |
                                <span>{{ mix.createdAt|ago(null, 'pl') }}</span>
                                <br>
                                {{ mix.getVotesString() }} votes
                            </div>
                        </a>
                    </div>
                {% endfor %}

                {% if pager.hasNextPage %}
                    <turbo-frame
                            id="mix-browse-list-{{ pager.nextPage }}"
                            target="_top"
                            src="{{ pagerfanta_page_url(pager, pager.nextPage) }}"
                            loading="lazy"
                    ></turbo-frame>
                {% endif %}
            </div>
        </turbo-frame>
    </div>
</div>
{% endblock %}
